---
version: 0.10.0
---
<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		<a href="https://github.com/stoodder/falconjs"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 1000" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
		<div id="content">
			<div id="hero">
				<div class="hero-links">
					<a class="hero-link" href="{{ site.baseurl }}/tutorial">Getting Started</a>
					<a class="hero-link" href="{{ site.baseurl }}/docs">Documentation</a>
					<a class="hero-link" href="{{ site.baseurl }}/tests/falcon.test.html" target="_blank">Tests</a>
				</div>
				<div class="hero-headline">
					Falcon.js
				</div>
				<div class="hero-tagline">MVVM Framework for Superb Web Apps</div>
				<p class="hero-description">
					Falcon.js provides <a href="{{ site.baseurl }}/docs/model"><strong>models</strong></a>, <a href="{{ site.baseurl }}/docs/collection"><strong>collections</strong></a>, and <a href="{{ site.baseurl }}/docs/view"><strong>views</strong></a> with Knockout.js' awesome data binding architecture to make developing, scaling, and maintaining javascript applications a breeze.
				</p>
				<div class="hero-actions">
					<a class="btn btn-danger" href="{{ site.baseurl }}/assets/scripts/falcon.min.js" target="_blank">
						Download v{{ page.version }}
						<small>
							Requires Knockout 3.X.X
						</small>
					</a>
					<a class="btn btn-danger btn-lite btn-sm" href="{{ site.baseurl }}/assets/scripts/falcon.js" target="_blank">
						Download Development Version
					</a>
				</div>
				</p>
			</div>
		</div>
		{% include scripts.html %}
	</body>
</html>
