{% assign category_lower = category | downcase %}
{% assign category_id = category | replace: ' ', '_'  | downcase %}
<section id="{{ category_id }}">
	<div class="page-header">
		<h1>
			{{ category }}
			{% if extends %}
				<small>extends {{ extends }}</small>
			{% endif %}
		</h1>
	</div>
	{% if description %}
		<div class="page-description">{{ description }}</div>
	{% endif %}
	{% for post in site.categories.[category_lower] reversed %}
		{% if hidden != 'true' %}
			{% assign post_id = post.title | replace: ' ', '_'  | replace: '/', '' | downcase %}
			<div class="post-header" id="{{ category_id }}-{{ post_id }}">
				<h3>
					<div class="pull-left">
						{{ post.title }}
						<small>{{ post.method }}</small>
					</div>
					{% if post.returnType and post.returnType != "undefined" %}
						<div class="pull-right">
							<h6>
								{{ post.returnType }}
								<small> - {{ post.returnDescription }}</small>
							</h6>
						</div>
					{% endif %}
					<div class="clearfix"></div>
				</h3>
			</div>
			<div class="post-content">
				{{ post.content }}
			</div>
		{% endif %}
	{% endfor %}
</section>
{% assign extends = nil %}
{% assign description = nil %}