{% assign category_lower = category | downcase %}
{% assign category_id = category | replace: ' ', '_'  | downcase %}
<section id="{{ category_id }}">
	<div class="page-header">
		<h1>{{ category }}</h1>
	</div>
	{% for post in site.categories.[category_lower] reversed %}
		{% if hidden != 'true' %}
			{% assign post_id = post.title | replace: ' ', '_'  | replace: '/', '' | downcase %}
			<h3 id="{{ category_id }}-{{ post_id }}">{{ post.title }}
				<small>{{ post.method }}</small>
			</h3>
			{{ post.content }}
		{% endif %}
	{% endfor %}
</section>