<div id="header">
	<div class="header-inner">
		<ul class="header-menu">
			<li class="header-menu-item {% if tutorial_selected %}selected{% endif %}">
				<a href="{{ site.baseurl }}/tutorial">Getting Started</a>
			</li>
			<li class="header-menu-item {% if docs_selected %}selected{% endif %}">
				<a href="{{ site.baseurl }}/docs">Documentation</a>
			</li>
			<li class="header-menu-item">
				<a href="{{ site.baseurl }}/tests/falcon.test.html" target="_blank">Tests</a>
			</li>
			<li class="header-menu-item">
				<a href="https://github.com/stoodder/falconjs" target="_blank">Github</a>
			</li>
		</ul>
		<div class="header-content">
			<a href="{{ site.baseurl }}/" class="header-logo">Falcon.js</a>
			<a class="btn header-btn" href="{{ site.baseurl }}/assets/scripts/falcon.min.js" target="_blank">Download v0.10.2</a>
		</div>
	</div>
</div>