<a href="https://github.com/stoodder/falconjs"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" class="github-ribbon"></a>
<div id="header">
	<div class="header-inner">
		<ul class="header-menu">
			<li class="header-menu-item {% if tutorial_selected %}selected{% endif %}">
				<a href="{{ site.baseurl }}/tutorial">Getting Started</a>
			</li>
			<li class="header-menu-item {% if docs_selected %}selected{% endif %}">
				<a href="{{ site.baseurl }}/docs">Documentation</a>
			</li>
			<li class="header-menu-item {% if tests_selected %}selected{% endif %}">
				<a href="{{ site.baseurl }}/tests/falcon.test.html" target="_blank">Tests</a>
			</li>
		</ul>
		<div class="header-content">
			<a href="{{ site.baseurl }}/" class="header-logo">Falcon.js</a>
			<a class="btn header-btn" href="{{ site.baseurl }}/assets/scripts/falcon.min.js" target="_blank">Download v0.10.0</a>
		</div>
	</div>
</div>