<ul id="menu">
	<li class="menu-item {%if page.introduction_selected %}selected{% endif %}"><a href="/tutorial/">1. Introduction</a></li>
	<li class="menu-item {%if page.knockout_crash_course_selected %}selected{% endif %}"><a href="/tutorial/knockout_crash_course.html">2. Knockout Crash Course</a></li>
	<li class="menu-item {%if page.basic_todo_list_selected %}selected{% endif %}"><a href="/tutorial/basic_todo_list.html">3. Basic Todo List</a></li>
	<li class="menu-item {%if page.multiple_todo_lists_selected %}selected{% endif %}"><a href="/tutorial/multiple_todo_lists.html">4. Multiple Todo Lists</a></li>
	<li class="menu-item {%if page.remote_resources_selected %}selected{% endif %}"><a href="/tutorial/remote_resources.html">5. Todo List with a Backend</a></li>
</ul>