{% assign category_lower = category | downcase %}
{% assign category_id = category | replace: ' ', '_'  | downcase %}
<li>
	<a href="#{{ category_id }}" alt="{{ category }}">{{ category }}</a>
	<ul class="nav navbar-nav">
		{% for post in site.categories.[category_lower] reversed %}
			{% assign post_id = post.title | replace: ' ', '_' | replace: '/', '' | downcase %}
			{% if post.title %}
				<li>
					<a href="#{{ category_id }}-{{ post_id }}" alt="{{ post.title }}">{{ post.title }}</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</li>