<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		{% assign docs_selected = true %}
		{% include header.html %}
		<div id="subheader">
			<div class="subheader-inner">
				<h1>
					Falcon.Adapter
					<small>
						<a href="{{ site.baseurl }}/docs/object">extends Falcon.Object</a>
					</small>
				</h1>
				<h4>Adapters specify how data is serialized and sent to and received from a backend data source. They also specify how to handle success and error scenarios.</h4>
			</div>
		</div>
		<div id="content">
			{% assign expand_adapter_menu = true %}
			{% include menu.html %}
			<div class="content-inner">
				{{ content }}
			</div>
		</div>
		{% include scripts.html %}
	</body>
</html>
