<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		{% assign docs_selected = true %}
		{% include header.html %}
		<div id="subheader">
			<div class="subheader-inner">
				<h1>
					Conductor
					<small>
						Falcon.addConductor('tag-name', Falcon.View)
					</small>
				</h1>
					<h4>Conductors define custom HTML tags that will be preprocessed to generate and inject a Falcon.View into each match.</h4>
			</div>
		</div>
		<div id="content">
			{% assign expand_conductor_menu = true %}
			{% include menu.html %}
			<div class="content-inner">
				{{ content }}
			</div>
		</content>
		{% include scripts.html %}
	</body>
</html>
